<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Actor</h1>
    <br>
    <section class="formulario">
        <form action="/actors/create" method="POST">            
            <label for="first_name">First Name </label>
            <p><input type="text" name="first_name" id="" required></p>
            <label for="last_name">Last Name </label>
            <p><input type="text" name="last_name" id="" required></p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" required> </p>
            <div>
                <label for="">Pelicula</label>
                <select name="favorite_movie_id">
                    <% for( let i = 0; i < movies.length; i++ ) { %>
                        <option value="<%= movies[i].id %>">
                            <%= movies[i].title %>
                        </option>
                        <% } %>
                </select>
            </div>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/actors">Listado de Actores</a></p>
        </form>
    </section>
    
</body>

</html>